:root {
  /* Color Palette */
  --primary-color: #2800DC;
  --primary-color-light: #e1e4ec;
  --secondary-color: #1e2126;
  --secondary-color-light: #FFFF49;

  /* Font Families */
  --font-lora: 'Lora', serif;
  --font-inter: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  border: none;
}

body{
  background-color: #f0f4ff;
  font-family: var(--font-inter);
}

